<html>

<head>
  <title>New Message Form</title>
</head>

<body>
  <form method="POST" action="/new">
    <h1>Add a new message:</h1>
    <label for="author">
      Author:
      <input type="text" name="author" id="author" required/>
    </label>
    <label for="text">
      Message:
      <input type="text" name="text" id="text" required/>
    </label>
    <button type="submit">Send</button>
  </form>
</body>

</html>