<html>

<head>
  <title>
    <%= title%>
  </title>
</head>

<body>
  <h1><%= title %></h1>
  <a href="/new">New Message</a>
  <div style="padding: 1rem;">
    <% messages.map(message=> { %>
      <a href="/new/<%= message.id %>">
        <%- include('message', {text: message.text, user: message.user, added: message.added}); %>
      </a>
      <% }); %>
    </div>
</body>

</html>