<html>

<head>
  <title>
    <%= title%>
  </title>
</head>

<body>
  <h1><%= title %></h1>
  <div style="padding: 1rem;">
    <%- include('message', {text: message.text, author: message.author, added: message.added}); %>
  </div>
  <a href="/">Back</a>
</body>

</html>